---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import UserIcon from "../icons/UserIcon.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";

const content = {
  en: {
    title: "drmcodes | FullStack Web Developer",
    description:
      "drmcodes is a web developer with over 1 year of experience specializing in web pages and microservices.",
    greeting: "Hello游녦, I'm drmcodes",
    experienceDescription:
      "+1 year of experience as a self-taught developer. FullStack Web Developer, focused on continuous learning and constant improvement.",
    experience: "Experience",
    projects: "Projects",
    aboutMe: "About Me",
  },
  es: {
    title: "drmcodes | Desarrollador Web FullStack",
    description:
      "drmcodes es un desarrollador web con m치s de 1 a침o de experiencia especializado en el desarrollo de p치ginas web y microservicios.",
    greeting: "Hola游녦, soy drmcodes",
    experienceDescription:
      "+1 a침o de experiencia como autodidacta. Desarrollador Web FullStack, enfocado en el aprendizaje continuo y la mejora constante.",
    experience: "Experiencia",
    projects: "Proyectos",
    aboutMe: "Sobre m칤",
  },
};

const defaultLanguage = "en";
const language =
  typeof window !== "undefined"
    ? localStorage.getItem("language") || defaultLanguage
    : defaultLanguage;
const currentContent = content[language] || content[defaultLanguage];
---

<Layout title={currentContent.title} description={currentContent.description}>
  <main class="px-10">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/143167807?v=4"
        alt="drmcodes-pic"
      />
      <h1
        id="greeting"
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        {currentContent.greeting}
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/drmcodes/"
          target="_blank"
          rel="noopener"
          "flex
          justify-center
          items-center"
        >
        </a>
      </h1>
      <h2
        id="experienceDescription"
        class="text-xl text-yellow-400/90 lg:text-2xl text-wrap max-w-[700px]"
      >
        <span>{currentContent.experienceDescription}</span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <Socials href="https://www.linkedin.com/in/drmcodes/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </Socials>
        <Socials href="https://github.com/drmcodes">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </Socials>
        <Socials href="mailto:drm.codes@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          drm.codes@gmail.com
        </Socials>
        <Socials href="https://drive.google.com/file/d/1yEcdTZIOksCyxy4HQNyWk7GmsTU57pjB/view?usp=sharing" download="Drmcodes_FullStack_Developer.pdf">
          <DownloadIcon class="size-4 md:size-6" />
          My Resume
        </Socials>        
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        id="experienceTitle"
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <BriefcaseIcon class="size-7" />
        <span id="experienceText">{currentContent.experience}</span>
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        <span id="projectsText">{currentContent.projects}</span>
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <UserIcon class="size-7" />
        <span id="aboutMeText">{currentContent.aboutMe}</span>
      </h2>
      <AboutMe />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const content = {
      en: {
        title: "drmcodes | FullStack Web Developer",
        description:
          "drmcodes is a web developer with over 1 year of experience specializing in web pages and microservices.",
        greeting: "Hello游녦, I'm drmcodes",
        experienceDescription:
          "+1 year of experience as a self-taught developer. FullStack Web Developer, focused on continuous learning and constant improvement.",
        experience: "Experience",
        projects: "Projects",
        aboutMe: "About Me",
      },
      es: {
        title: "drmcodes | Desarrollador Web FullStack",
        description:
          "drmcodes es un desarrollador web con m치s de 1 a침o de experiencia especializado en el desarrollo de p치ginas web y microservicios.",
        greeting: "Hola游녦, soy drmcodes",
        experienceDescription:
          "+1 a침o de experiencia como autodidacta. Desarrollador Web FullStack, enfocado en el aprendizaje continuo y la mejora constante.",
        experience: "Experiencia",
        projects: "Proyectos",
        aboutMe: "Sobre m칤",
      },
    };

    function getContent(language) {
      return content[language] || content["en"];
    }

    const language = localStorage.getItem("language") || "en";
    const currentContent = getContent(language);

    document.getElementById("greeting").innerText = currentContent.greeting;
    document.getElementById("experienceDescription").innerText =
      currentContent.experienceDescription;
    document.getElementById("experienceText").innerText =
      currentContent.experience;
    document.getElementById("projectsText").innerText = currentContent.projects;
    document.getElementById("aboutMeText").innerText = currentContent.aboutMe;
  });
</script>
